.portfolio-filters {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  gap: 8px;
}

.portfolio-title {
  margin-bottom: 4px;
  font-weight: var(--main-font-weight);
  font-size: 18px;
  line-height: var(--title-line-height);
  letter-spacing: 0.06em;
  @include transition (color);

  &:hover,
  &:focus {
  color: var(--hover-color);
}
}

.portfolio-text {
  font-size: var(--second-font-size);
  line-height: var(--text-line-height);
  letter-spacing: 0.03em;
  color: var(--first-text-color);
  @include transition (color);
 
  &:hover,
  &:focus {
  color: var(--hover-color);
}
}

.flex-item {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.flex-container > .list-item {
  @include transition(box-shadow);
}

.flex-container > .list-item:hover,
.flex-container > .list-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.box-overlay {
  position: relative;
  overflow: hidden;
  pointer-events: none;
}

.overlay {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(101%);
  @include transition (transform);

  .flex-container > .list-item:hover &,
.flex-container > .list-item:focus & {
  transform: translateY(0);
}
}

.overlay-text {
  justify-content: center;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  background: rgba(33, 150, 243, 0.9);
  overflow: auto;
}
